black>=23.3.0
python-dotenv>=0.15.0
markdown-include>=0.6.0
mkdocs>=1.1.2
mkdocstrings>=0.13.6
mkdocs-material>=6.0.2
mypy>=1.4.1
pydot>=1.4.2
pylint>=-2.17.4
pytest>=6.1.1
pytest-tspwplib>=0.2.5
types-PyYAML>=5.4.3